<?php

return array(
    'console-tools' => array(
        'enable' => array(
            'migrations' => true,
            'fixtures' => true,
            'schema' => true
        ),
        'migration_template' => 'Y:m:d-H:i:s',
        'migration_folder' => 'data/migrations',
        'fixture_template' => 'Y:m:d-H:i:s',
        'fixture_folder' => 'build/fixtures',
    )
);
