<?php

return array(
    'console-tools' => array(
        'enable' => array(
            'migrations' => true,
            'fixtures' => true,
            'schema' => true
        ),
        'migration_template' => 'Ymd_Hisu',
        'migration_folder' => 'data/migration'
    )
);
